name: driver_alert
description: A robust driver drowsiness detection app with MLKit + EAR.
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  camera: ^0.10.5+5
  google_mlkit_face_detection: ^0.9.0
  provider: ^6.0.5
  flutter_tts: ^3.8.3
  vector_math: ^2.1.4
  permission_handler: ^11.3.1

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true